body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Zentriert die Navigationselemente horizontal */
}

nav ul li {
    margin: 0 10px; /* Gibt jedem Listenelement gleichen horizontalen Abstand */
    position: relative; /* Setzt die Basis für eine absolute Positionierung von Untermenüs */
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px; /* Fügt einen Klickbereich um den Link hinzu für eine bessere Benutzererfahrung */
}

main {
    padding: 20px;
    text-align: center;
}

.services-container {
    display: flex;
    flex-wrap: wrap; /* Ermöglicht das Umbruchverhalten für Flex-Items */
    justify-content: space-around; /* Verteilt die Dienste gleichmäßig mit Platz dazwischen */
    margin-top: 20px;
}

.service {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-basis: 30%; /* Bestimmt die Basisgröße für jedes Service-Element vor dem Wachsen und Schrumpfen */
    margin: 10px; /* Fügt einen Abstand zwischen den Service-Kästen hinzu */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

button {
    background: #5c67f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #4a54e1;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Media Queries für Responsives Verhalten */
@media (max-width: 768px) {
    .services-container {
        flex-direction: column; /* Stapelt die Service-Elemente untereinander */
    }

    .service {
        flex-basis: 100%; /* Nimmt die volle Breite ein, wenn der Bildschirm kleiner ist */
    }

    nav ul {
        flex-direction: column; /* Stapelt die Navigationslinks untereinander */
    }
}
